[Unit]
Description=MineOS MrManager Daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/games/minecraft
ExecStart=/usr/bin/ruby mrmanager.rb
User=root
Restart=always
StandardOutput=append:/rw/mineos-mrmanager.log
StandardError=append:/rw/mineos-mrmanager.log

[Install]
WantedBy=multi-user.target

