[Unit]
Description=MineOS MrManager Daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/games/minecraft
ExecStart=/usr/bin/ruby mrmanager.rb
User=root
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

