[Unit]
Description=Minio Server Port

[Service]
ExecStart=qrexec-client-vm '' qubes.ConnectTCP+{{ salt['pillar.get']('object-store:port') }}
StandardInput=socket
StandardOutput=inherit

