[Unit]
Description=Minio TCP Socket

[Socket]
ListenStream=127.0.0.1:{{ salt['pillar.get']('object-store:port') }}
Accept=true

[Install]
WantedBy=sockets.target

