[Unit]
Description=RabbitMQ Server Port

[Service]
ExecStart=qrexec-client-vm '' qubes.ConnectTCP+{{ salt['pillar.get']('amqp:port') }}
StandardInput=socket
StandardOutput=inherit

