[Unit]
Description=MineOS HQ Daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/games/minecraft
ExecStart=/usr/bin/ruby hq.rb
User=root
Restart=always

[Install]
WantedBy=multi-user.target

